<html>

<head>
	<title>Registration</title>
</head>

<body>
	<table border="1" width="50%" align="center">
		<tr>
			<td>
				<img src="../asset/logo.png" alt="logo" width="100px" height="50px">
			</td>
			
			<td align="right">
				<a href="siteHome.html">Home</a> | <a href="login.html">Login</a> | <a href="signup.html">Sign up</a>
			</td>
		</tr>
		
		<tr style="height:400px">
			<td colspan="2" align="center">
				<form method="post" action="../controller/regCheck.php">
					<fieldset style="width:30%">
						<legend>Sign Up</legend>
						<table>
							<tr>
								<td>Username</td>
								<td><input type="text" name="username" value=""></td>
							</tr>
							<tr>
								<td>Password</td>
								<td><input type="password" name="password" value=""></td>
							</tr>
							<tr>
								<td>Confirm Password</td>
								<td><input type="password" name="repass" value=""></td>
							</tr>
							<tr>
								<td>Email</td>
								<td><input type="email" name="email" value=""></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<input type="submit" name="signup" value="Submit"> 
									<a href="login.html">Login</a>
								</td>
							</tr>
						</table>
					</fieldset>
				</form>
			</td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				Copyright @ 2021
			</td>
		</tr>			
	</table>
</body>
</html>