<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<table border="1" width="50%" align="center">
		<tr class="c1">
			<td>
				<img src="../asset/logo.png" alt="logo" width="100px" height="50px">
			</td>
			
			<td align="right">
				<a href="siteHome.html">Home</a> | <a href="login.html">Login</a> | <a href="signup.html">Sign up</a>
			</td>
		</tr>
		
		<tr style="height:150px;" class="c2">
			<td colspan="2">
				<h3>Welcome to xCompany. A place for all your cattle's food management.</h3>
			</td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				Copyright @ 2021
			</td>
		</tr>			
	</table>
</body>
</html>