.c1 {
    background-color:SkyBlue;
}

.c2 {
    background-color:Turquoise;
}

.c3 {
    background-color:Chartreuse;
}

.c4 {
    background-color:CornflowerBlue;
}

.c5 {
    background-color:GoldenRod;
}

.c6 {
    background-color:Crimson;
}